{% extends "base.html" %}

{% block content %}
{% block title %} <h1> More about me :) </h1> {% endblock title %}
    <form method="post" action="/about">
        <input type="text" name="contact-name" placeholder="Enter your name">
        <br>

        <input type="email" name="contact-email" placeholder="Enter email address">
        <br>

        <textarea name="contact-message" placeholder="Enter your message"></textarea>
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock content %}