
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Boogle">
        <meta name="keywords" content="search, boogle">
        <title>Boogle</title>
        <link rel="stylesheet" href="/static/css/boogle.css">
    </head>

    <body>

        <div class="search" id="searchform" style="margin-top:-20px">
            <center>
                <div id="logo">
                    <style>#lga{height:233px;margin-top:89px}</style>
                    <img class="image" src="/static/img/boogle.png" style="padding-top:109px">
                </div>
                <div>
                    <input type="text"  id="search">
                    <div id="buttons" style="padding-top: 18px;">
                        <input class="option" type="button" value="Boogle search">
                        <input class="option" type="button" value="I'm feeling lucky">
                    </div>
                </div>
                <div class="list" id="additional_languges" style="padding-top: 18px;">Offered by Boogle in:
                    <a href>català</a>
                    <a href>galego</a>
                    <a href>euskara</a>
                </div>
            </center>
        </div>
        <div id="footer" >Boogle, Inc. 2019</div>
    </body>
</html>